body {
    width: 100%;
    height: 100%;
    background-color: #d3d0d0;
}

.cabecalho {
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalho .logo {
    margin: 10px;
    display: flex;
    align-items: center;
    color: #1f1e1e;
    font-size: 50px;
    gap: 10px;
}

.cabecalho .logo img {
    background-color: #ffffff;
    width: 90px;
    height: auto;
    border-radius: 100%;
    margin-left: 60px;
}

/* .cabecalho .catalogo-receitas {
    display: flex;
    margin: 50px;
    gap: 40px;
}

.cabecalho .catalogo-receitas li {
    background: #cbdfe4;
    width: 250px;
    height: 50px;
    padding-top: 13px;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
} */

.secoes {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.95;
}

.secoes h2 {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    padding: 10px 50px;
    height: 150px;
    width: 70%;
    border-radius: 20px;
    background-color: #b1adad;
}

.receitas,
.receitas-doce,
.receitas-pudin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.receitas .carnes,
.receitas .massas,
.receitas-doce .doces,
.receitas-doce .pudin{
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 200px;
}

.lista-receitas,
.lista-receitas-massa,
.lista-receitas-doce,
.lista-receitas-pudin{
    width: 400px;
    height: 550px;
    position: relative;
}

.btn-seta,
.btn-seta1 {
    border: 0;
    margin: 30px;
    width: 70px;
    height: 70px;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
    margin-top: -200px;
}

.btn-seta.btn-voltar,
.btn-seta.btn-voltar1 {
    margin-right: -10px;
    transform: rotateY(180deg);
}

.cartao,
.cartao-massas,
.cartao-doce,
.cartao-pudin{
    opacity: 0;
    height: 110%;
    position: absolute;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f1e1e;
    margin-top: -150px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),-15px -15px 30px rgb(60, 60, 60);
}

.cartao.selecionado,
.selecionado-massas,
.selecionado-doces,
.selecionado-pudin{
    opacity: 1;
    z-index: 1;
}

.cartao .imagem-receita,
.cartao-massas .imagem-receita,
.cartao-doce .imagem-receita,
.cartao-pudin .imagem-receita {
    width: 100%;
    height: 62%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartao .nome-receita,
.cartao-massas .nome-receita,
.cartao-doce .nome-receita,
.cartao-pudin .nome-receita {
    background-color: rgba(88, 87, 90, 0.7);
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.cartao .como-fazer,
.cartao-massas .como-fazer,
.cartao-doce .como-fazer,
.cartao-pudin .como-fazer {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartao .como-fazer .ingredientes,
.cartao-massas .como-fazer .ingredientes,
.cartao-doce .como-fazer .ingredientes,
.cartao-pudin .como-fazer .ingredientes {
    background-color: #333333;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
}

.cartao .como-fazer .texto,
.cartao-massas .como-fazer .texto,
.cartao-doce .como-fazer .texto,
.cartao-pudin .como-fazer .texto {
    font-size: 14px;
    padding: 12px;
    max-height: 150px;
    overflow-y: auto;
}



